name: SonarCloud

on:
  workflow_call:

jobs:
  analyze:
    name: Build and analyze
    runs-on: ubuntu-24.04
    env:
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
          fetch-depth: 0

      - name: Dependencies
        run: |
          sudo apt install libeigen3-dev
          python -m pip install gcovr

      - name: Install SonarSource build-wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0

      - name: Run build wrapper
        run: |
          cmake \
            -Bbuild \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_C_COMPILER=clang-16 \
            -DCMAKE_CXX_COMPILER=clang++-16 \
            -DOVERLAP_WITH_COVERAGE=ON
          build-wrapper-linux-x86-64 \
            --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} \
            cmake --build build --config Debug

      - name: Run tests and collect coverage information
        run: |
          cd build
          ctest --output-on-failure
          ~/.local/bin/gcovr \
            --gcov-executable 'llvm-cov-16 gcov' \
            --exclude-lines-by-pattern '.*overlap_assert.*' \
            --sonarqube coverage.xml \
            -r ../ \
            -e ../third_party/ -e ../tests/src

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            --define sonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json
            --define sonar.coverageReportPaths=./build/coverage.xml
